.article-page{
    width: 98vw;
    display: flex;
    justify-content: center;
}
.article-page-content{
    background-color: white;
    border-radius: 20px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px 20px 20px;
}

.art-Title, .art-Desc{
    text-align: justify;
}

.art-info, .open-icon, .details-breadcrumb a{
    font-size: 0.9rem;
    margin-top: 0px;
    font-weight: bold;
    text-decoration: none;
    color: #359eff;
}
.details-breadcrumb span{
    font-size: 0.9rem;
    font-weight: 500;
}
.art-Img{
    width: 40vw;
    align-self: center;
}

.ImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .article-page-content{
        width: 90vw;
    }
    .art-Img{
        width: 80vw;
    }
    .art-Title{
        font-size: 1.2rem;
    } 
    .art-Desc, .details-breadcrumb span{
        font-size: 0.8rem;
    }
    .art-info, .open-icon, .details-breadcrumb a{
        font-size: 0.8rem;
        margin-top: 0;
        font-weight: bold;
        color: #359eff;
    }
}