.fetchPage{
    height: 80vh;
    display: flex;
    width: 98vw;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    align-self: center;
}

.Msg{
    width: 60%;
    text-align: center;
    font-weight: bold;
}

.fetchContent{
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
}

.list-container{
    width: 80vw;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.news-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media screen and (max-width: 500px) {
    .fetchPage{
        height: 72vh;
    }
    .list-container{
        width: 100%;
    }
}