.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #359eff;
    color: white;
    height: 10vh;
    gap: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header h1{
    font-family:Cambria;
}

.searchBar{
    height: 5vh;
    width: 25vw;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border: none;
}


@media screen and (max-width: 500px) {
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 20vh;
        gap: 0px;
    }
    .searchBar{
        width: 70vw;
    }
}