.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4363d1;
    color: white;
    height: 10vh;
    padding-bottom: 1vh;
    gap: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header h1{
    font-family:Cambria;
}

.searchBar{
    height: 6vh;
    width: 30vw;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
