.news-item{
    width: 80%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.saveBut{
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #4363d1;
    color: white;
    font-weight: bold;
}
.article-text h3, p{
    text-align: justify;
}

.readBut{
    border: none;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.articleImg{
    width: 20vw;
    height: 20vh;
}

@media screen and (max-width: 500px) {
    .news-item{
        margin-left: -12vw;
        width: 80vw;
        padding: 10px;
        flex-direction: column;
    }
    .articleImg{
        width: 60vw;
        height: 20vh;
    }
}