.news-item{
    width: 80%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.saveBut, .readBut{
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: #359eff;
    font-weight: bold;
    background-color: transparent;
}
.article-text p{
    text-align: justify;
    font-size: 1rem;
}

.article-text h3{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
}

.article-buttons{
    display: flex;
    gap: 2vw;
}

.articleImg{
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 10px;
}


.deleteBut {
    background-color: transparent;
    color: red;
    border: none;
    padding: 4px 12px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50px;
  }
  
  .deleteBut:hover {
    background-color: red;
    color: white;
  }

@media screen and (max-width: 500px) {
    .news-item{
        margin-left: -12vw;
        width: 80vw;
        padding: 10px;
        flex-direction: column-reverse;
    }

    .articleImg{
        width: 70vw;
        height: 20vh;
    }

    .article-text h3{
        font-size: 1rem;
    }
    .article-text p{
        font-size: 0.8rem;
    }
}