.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}


.pageBut{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.travIcon{
    color: #359eff;
}